## Making Dataset using the given xlsx file.

In [ ]:
import numpy as np
import pandas as pd

# Read the xlsx file
file_path = "./data/KIT_DSE_Batch 12_Consolidated_Grade_DataSet.xlsx"
df = pd.read_excel(file_path)


# print(df.head(5))
df.head()

,Department of Engineering\nMajor in Software Engineering\nBatch 12,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,SEMESTER I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nº,Academic Reading and Writing,Community Service,Data Structures and Algorithm,Database Management Systems,Digital Literacy I,History of Ideas,Mathematics I,Programming in Python,Public Speaking I: TED in the Classroom,...,"Digital Literacy II: Technology Trends, Issues...",Full Stack Development,Global Business Leadership and International R...,Introduction to Accounting and Financial Manag...,Java with Functional Programming,Mathematics II: Modern Algebra and Number Theory,Public Speaking II: TED and the Society,Technical Writing,The Arts and the Humanities,Comprehensive Japanese
2,1,81,81,66,69,80,90,72,65,94,...,60,65,62,60,63,77,66,78,72,81.28
3,2,82,65,76,87,83,91,66,78,87,...,78,72,72,72,71,67,93,84,90,76.51
4,3,77,71,76,76,88,86,71,70,92,...,86,63,62,79,65,63,69,83,87,68.41

In [13]:
import numpy as np
import pandas as pd

#? Read the xlsx file
raw_file = "./data/KIT_DSE_Batch 12_Consolidated_Grade_DataSet.xlsx"
df = pd.read_excel(raw_file)
# print(df.head(10))


#? select all subjects name
subjects = df.iloc[1,1:].values
# print(subjects)

#? select all students data (score)
student_data = df.iloc[2:, 1:].copy()
# print(student_data)

#? add subjects as columns name in student_data
student_data.columns = subjects
# print(student_data)

#! Data that I've colected through survey
subject_map = {
    'Public Speaking I: TED in the Classroom': ('Soft Subject', 'Practical'),
    'Digital Literacy I': ('Soft Subject', 'Practical'),
    'Academic Reading and Writing': ('Soft Subject', 'Practical'),
    'Science, Technology and Society': ('Soft Subject', 'Theory'),
    'History of Ideas': ('Soft Subject', 'Theory'),
    'The KITian': ('Soft Subject', 'Theory'),
    'Community Service': ('Soft Subject', 'Practical'),
    'Programming in Python': ('Core Subject', 'Practical'),
    'Database Management Systems': ('Core Subject', 'Practical'),
    'Data Structures and Algorithm': ('Core Subject', 'Practical'),
    'Mathematics I': ('Core Subject', 'Theory'),
    'Public Speaking II: TED and the Society': ('Soft Subject', 'Practical'),
    'Digital Literacy II: Technology Trends, Issues, and Challenges in the Digital Age': ('Soft Subject', 'Practical'),
    'Technical Writing': ('Soft Subject', 'Practical'),
    'The Arts and the Humanities': ('Soft Subject', 'Theory'),
    'Global Business Leadership and International Relations': ('Soft Subject', 'Theory'),
    'Introduction to Accounting and Financial Management': ('Soft Subject', 'Theory'),
    'Comprehensive Japanese': ('Soft Subject', 'Practical'),
    'Computer Networks': ('Core Subject', 'Theory'),
    'Full Stack Development': ('Core Subject', 'Practical'),
    'Java with Functional Programming': ('Core Subject', 'Practical'),
    'Mathematics II: Modern Algebra and Number Theory': ('Core Subject', 'Practical')
}

#? rearrange subjects
rearrange_subject = []
for subject in subject_map.keys():
	rearrange_subject.append(subject)

student_data_rearrange = student_data[rearrange_subject]
# print(student_data_rearrange)


#? convert to sample based on each subject and each student
student_dataset = student_data_rearrange.melt(var_name="Subject", value_name="Score")
# print(student_dataset)


#? Add semester for each subject
semester_map = {}
for i, subject in enumerate(rearrange_subject):
    semester_map[subject] = "Semester I" if i < 11 else "Semester II"

student_dataset["Semester"] = student_dataset["Subject"].map(semester_map)
# print(student_dataset.loc[406, ["Subject", "Semester"]])


#? Add Type of Subject and Nature of Subject
student_dataset['Type of Subject'] = student_dataset['Subject'].map(lambda x: subject_map[x][0])
student_dataset['Nature of Subject'] = student_dataset['Subject'].map(lambda x: subject_map[x][1])
# print(student_dataset.head(10))
# print(student_dataset.loc[407, ["Subject", "Type of Subject", "Nature of Subject"]])

#? Reorder columns
student_dataset = student_dataset[[
	"Subject", 
	"Semester", 
	"Type of Subject", 
	"Nature of Subject",
	"Score"
]]
# print(student_dataset.head(10))


#? Save to CSV
csv_path = "./data/KIT_Student_Performance.csv"
student_dataset.to_csv(csv_path, index=False)

In [ ]:

#? import dataset
csv_path = "./data/KIT_Student_Performance.csv"
ds = pd.read_csv(csv_path)
print(ds.head(10))

#? Filter data
ds[(student_dataset['Nature of Subject'] == "Theory")]

                                   Subject    Semester Type of Subject  \
0  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
1  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
2  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
3  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
4  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
5  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
6  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
7  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
8  Public Speaking I: TED in the Classroom  Semester I    Soft Subject
9  Public Speaking I: TED in the Classroom  Semester I    Soft Subject

  Nature of Subject  Score
0         Practical   94.0
1         Practical   87.0
2         Practical   92.0
3         Practical   95.0
4         Practical   96.0
5         Practical   92.0
6         Practical   94.0
7         Practical   92.0
8         Practical   91.0
9         Practical   92.0

,Subject,Semester,Type of Subject,Nature of Subject,Score
111,"Science, Technology and Society",Semester I,Soft Subject,Theory,88.0
112,"Science, Technology and Society",Semester I,Soft Subject,Theory,93.0
113,"Science, Technology and Society",Semester I,Soft Subject,Theory,90.0
114,"Science, Technology and Society",Semester I,Soft Subject,Theory,88.0
115,"Science, Technology and Society",Semester I,Soft Subject,Theory,89.0
...,...,...,...,...,...
698,Computer Networks,Semester II,Core Subject,Theory,74.0
699,Computer Networks,Semester II,Core Subject,Theory,66.0
700,Computer Networks,Semester II,Core Subject,Theory,63.0
701,Computer Networks,Semester II,Core Subject,Theory,81.0
702,Computer Networks,Semester II,Core Subject,Theory,70.0

In [ ]:

# todo: 
# - Data Summary
# - Data Visualization
# - Data Preprocessing